<extend name="Public/base" />
<block name="main">
    <div class="row-fluid">
        <div class="span12">
            <!--<div class="widget-box">-->
                <!--<div class="widget-title widget-title-search">-->
                    <!--<form action="{:U('CarOrder/index')}" method="post" class="form-search">-->
                        <!--<b>搜索：</b>-->
                        <!--&nbsp;-->
                        <!--<input type="text" class="input-medium search-query" name="car_name" value="{$_REQUEST['car_name']}" placeholder="输入汽车名称查询" style="height:auto" name="">-->
                        <!--<button type="submit" class="btn">查询</button>-->
                        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;-->
                        <!--<select name="theme" class="select-c xuan" data-field="brand_id">-->
                            <!--<option value="" >按品牌筛选</option>-->
                            <!--<foreach name="brand_list" item="v">-->
                                <!--<option value="{$v['id']}" <if condition="$_REQUEST['brand_id'] eq $v['id']">selected</if> >-->
                                <!--{$v['brand_name']}-->
                                <!--</option>-->
                            <!--</foreach>-->
                        <!--</select>-->
                        <!--<select name="theme" class="select-c xuan" data-field="car_style_id">-->
                            <!--<option value="" >按车型筛选</option>-->
                            <!--<foreach name="style_list" item="v">-->
                                <!--<option value="{$v['id']}" <if condition="$_REQUEST['car_style_id'] eq $v['id']">selected</if> >{$v['style_name']}</option>-->
                            <!--</foreach>-->
                        <!--</select>-->
                    <!--</form>-->
                <!--</div>-->
                <!--// search end-->
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="fa fa-resize-vertical"></i>--></th>
                            <th>订单编号</th>
                            <!--<th>用户姓名</th>-->
                            <th>楼盘联系人</th>
                            <th>楼盘联系电话</th>
                            <th>楼盘名称</th>
                            <th>户型</th>
                            <!--<th>店铺名称</th>-->
                            <!--<th>店铺联系电话</th>-->
                            <th>购买时间</th>
                            <!--<th><i class="icon-edit"></i> 赠送积分</th>-->
                            <!--<th><i class="icon-edit"></i> 抵扣券比例</th>-->
                            <th>订单状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['order_sn']}</td>
                                <!--<td>{:getName('HouseStyle','style_name',$row['user_id'])}</td>-->
                                <td>{$row['link_man']}</td>
                                <td>{$row['link_phone']}</td>
                                <td>{$row['house_name']}</td>
                                <td>{$row['style_name']}</td>
                                    <!--<font color="#00f" size="1">可抵车款: ¥&nbsp;{$row['true_pre_money']}</font>-->
                                <!--</td>-->
                                <td>{:date('Y-m-d H:i:s',$row['create_time'])}</td>
                                <td>
                                    <eq name="row['status']" value="0">待付款</eq>
                                    <eq name="row['status']" value="1">办手续中</eq>
                                    <eq name="row['status']" value="2">待评价</eq>
                                    <eq name="row['status']" value="3">待定</eq>
                                    <eq name="row['status']" value="4">已完成</eq>
                                    <eq name="row['status']" value="5">已取消</eq>
                                </td>
                                <td>
                                    <a href="{:U('HouseOrder/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-info">查看详情</span></a>&nbsp;
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        //修改字段值开始
        $('.editArea').dblclick(function(){
            var input = $('<input type="number" name="CarBuy_num" value="" style="max-width:80px;" />');
            var val = $(this).find('i').text();
            ($(this).find('i')).after(input.val(val));
            $(this).find('i').remove();
        })
        $('input[name="CarBuy_num"]').live({
            'blur':function(){
                var $this = $(this);
                var model = $(this).parents('td').attr('data-model');
                var id = $(this).parents('td').attr('data-id');
                var field = $(this).parents('td').attr('data-field');
                var num = $(this).val();
                $.post("__URL__/setField",{model:model,field:field,value:num,id:id},function(data){
                    $this.after('<i>'+num+'</i>');
                    $this.remove();
                })
            }
        })
        //修改字段值结束
        $('.xuan').change(function(){
            var val = $(this).val();
            if(val){
                var field = $(this).attr('data-field');
                // 调转到对应ID的url地址
                location="__URL__/index/"+field+"/"+val;

            }
        })
    </script>
</block>