<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Announce/update')}" id="form">
                        <input type="hidden" name="model" value="Announce">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <input type="hidden" name="parent_id" value="{:getMerchantId()}">

                        <div class="control-group">
                            <label class="control-label">标题</label>
                            <div class="controls">
                                <input type="text" name="title" value="{$row['title']}" style="width: 80%">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">内容</label>
                            <div class="controls">
                                <textarea name="content">{$row['content']}</textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label">排序</label>
                            <div class="controls">
                                <input type="text" name="sort" value="{$row['sort']|default=0}" class="number-only">
                                <span class="help-block">数值越大越靠前</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>