<extend name="Public/base" />

<block name="main">
    <style type="text/css">
        #edui1_iframeholder{
            width: 100% !important;
        }
        #allmap {
            width: 915px;
            height: 300px;
            overflow: hidden;
            font-family:"微软雅黑";
        }
    </style>
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <!--选项卡-->
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home">基本信息</a></li>
                    <li><a href="#info">详细信息</a></li>
                    <li><a href="#pic">楼盘相册</a></li>
                </ul>
                <form class="form-horizontal" method="post" action="{:U('HouseBuy/update')}" autocomplete="off">
                    <input type="hidden" name="model" value="HouseBuy">
                    <input type="hidden" name="id" value="{$row['id']}">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <!--主要信息-->
                        <div class="widget-content nopadding">
                            <div class="control-group">
                                <label class="control-label">楼盘名称</label>
                                <div class="controls">
                                    <input type="text" name="house_name" value="{$row['house_name']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!--<div class="control-group">-->
                                <!--<label class="control-label"></label>-->
                                <!--<div class="controls">-->
                                    <!--<input type="text" name="address" value="{$row['address']}" class="text-width-40" id="address">-->
                                    <!--<span class="help-block">拖动地图小红标选择位置(具体详细地址信息请手动补全)</span>-->
                                    <!--<input type="hidden" name="lng" id="lng" value="{$row['lng']}">-->
                                    <!--<input type="hidden" name="lat" id="lat" value="{$row['lat']}">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="control-group">-->
                                <!--<label class="control-label"> </label>-->
                                <!--<div class="controls">-->
                                    <!--&lt;!&ndash;加载百度地图&ndash;&gt;-->
                                    <!--<iframe id="point" style="width: 700px; height: 350px;" src="{:U('HouseBuy/getPoint')}" frameborder="0" border="0" scrolling="no"></iframe>-->
                                    <!--<span class="help-block">注意：请拖动地图的标注到自己的位置(鼠标滚轮可以缩放地图)</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="control-group">
                                <label class="control-label">楼盘封面图</label>
                                <div class="controls">
                                    {:hook('upload',array('is_first'=>1,'unique_sign'=>'house_img','field_name'=>'house_img','field_value'=>$row['house_img'],'save_path'=>'HouseBuy'))}
                                    <span class="help-block">长宽比为600px:600px 用于显示</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">区间</label>
                                <div class="controls">
                                    <input type="number" name="min_price" value="{$row['min_price']}" placeholder="最低价">--
                                    <input type="number" name="max_price" value="{$row['max_price']}" placeholder="最高价">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">在售房源</label>
                                <div class="controls">
                                    <input type="number" name="now_num" value="{$row['now_num']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">开发商</label>
                                <div class="controls">
                                    <input type="text" name="developer" value="{$row['developer']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">楼盘位置</label>
                                <div id="allmap" class="controls">
                                </div>
                                <input id="lng" name="lng" type="hidden" value="{$row['lng']}">
                                <input id="lat" name="lat" type="hidden" value="{$row['lat']}">
                            </div>
                            <div class="control-group">
                                <label class="control-label">开盘描述</label>
                                <div class="controls">
                                    <textarea name="start_desc">{$row['start_desc']}</textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">交房时间描述</label>
                                <div class="controls">
                                    <textarea name="finished_desc">{$row['finished_desc']}</textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">售楼处</label>
                                <div class="controls">
                                    <textarea name="sell_address">{$row['sell_address']}</textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">联系人</label>
                                <div class="controls">
                                    <input type="text" name="link_man" value="{$row['link_man']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">联系电话</label>
                                <div class="controls">
                                    <input type="text" name="link_phone" value="{$row['link_phone']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="info">
                        <!--商品图文详情-->
                        <div class="widget-content nopadding">

                            <!--<div class="control-group">-->
                                <!--<label class="control-label">物业类别</label>-->
                                <!--<div class="controls" style="max-height:200px;overflow:auto;">-->
                                    <!--<foreach name="brand_list" item="bra">-->
                                        <!--<label class="checkbox inline">-->
                                            <!--<input type="checkbox" name="server_type[]"  value="{$bra['id']}" class="ids"> {$bra['brand_name']}-->
                                        <!--</label>-->
                                    <!--</foreach>-->

                                <!--</div>-->
                            <!--</div>-->
                            <div class="control-group">
                                <label class="control-label">物业类别</label>
                                <div class="controls">
                                    <input type="text" name="server_type" value="{$row['server_type']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">装修状况</label>
                                <div class="controls" style="max-height:200px;overflow:auto;">
                                    <select name="fix_status" id="">
                                        <!--<foreach name="row['cate_list']" item="bra">-->
                                            <!--<option value="{$bra['id']}">{$bra['name']}</option>-->
                                        <!--</foreach>-->
                                        <option value="正在装修">正在装修</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">住户数</label>
                                <div class="controls">
                                    <input type="number" name="person_num" value="{$row['person_num']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">容积率</label>
                                <div class="controls">
                                    <input type="number" name="rongji_rate" value="{$row['rongji_rate']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">绿化率</label>
                                <div class="controls">
                                    <input type="number" name="green_rate" value="{$row['green_rate']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">停车位</label>
                                <div class="controls">
                                    <textarea name="stop_area">{$row['stop_area']}</textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">产权年限</label>
                                <div class="controls">
                                    <input type="number" name="year_limit" value="{$row['year_limit']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">预售许可</label>
                                <div class="controls">
                                    <input type="text" name="premit" value="{$row['premit']}">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">物业公司</label>
                                <div class="controls">
                                    <input type="text" name="service_company" value="{$row['service_company']}" >
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">物业费</label>
                                <div class="controls">
                                    <input type="number" name="service_fee" value="{$row['service_fee']}">元/平米*月
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="pic">

                        <!--商品相册-->
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div id="collapseOne" class="accordion-body collapse" style="height: auto;">
                                    <div class="accordion-inner">

                                        {:hook('upload',array('unique_sign'=>'pictures','queue_limit'=>4,'field_name'=>'pictures','field_value'=>$row['pictures'],'save_path'=>'HouseBuy'))}
                                        <span class="help-block">长宽比为600px:600px</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                    <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ae1DLg4ISYE34wv2HuLtsA7hekQEA2yI"></script>
    <!--加载鼠标绘制工具-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <!--加载检索信息窗口-->
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
    <script>

        // 百度地图API功能
        var map = new BMap.Map("allmap");
        map.enableScrollWheelZoom(true);
        var lng = $("#lng").val();
        var lat = $("#lat").val();
        if(lng>1){
            var poi = new BMap.Point(lng,lat);
            map.centerAndZoom(poi, 15);
            var point = new BMap.Point(lng,lat);
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
        }else {
            map.centerAndZoom('天津市',15);
        }

        // 创建点坐标以及点击返回坐标
        function showInfo(e){
            map.clearOverlays();
            $("#lng").val(e.point.lng);
            $("#lat").val(e.point.lat);
            var point = new BMap.Point(e.point.lng,e.point.lat);    // 创建点坐标
            var marker = new BMap.Marker(point);        // 创建标注
            map.addOverlay(marker);                     // 将标注添加到地图中
        }
        map.addEventListener("click", showInfo);
        //        $('#myTab a').tab('show');
//        $('#myTab a[href="#home"]').tab('show');
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })

        //下拉选择图片动态显示 开始
        $('.dropdown-menu li a.brand').click(function(){
                //获取到当前的品牌名称
            var brand_name = $(this).find('span').text();
            //获取到图片
            $(this).parents('div.btn-group').nextAll('div.btn-group').find("img").attr("src",$(this).attr('data-src'));
        })
    </script>
</block>