<extend name="Public/base" />

<block name="main">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title widget-title-search">
                    <button class="btn btn-success href" url="{:U('CarLabel/add')}" target-form="ids">新增</button>&nbsp;
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="fa fa-resize-vertical"></i>--></th>
                            <th>编号</th>
                            <th>标签名称</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['car_label']}</td>
                                <td>{$row['status']==1?'<font color="green">启用</font>':'<font color="red">禁用</font>'}</td>
                                <td>
                                    <a href="{:U('CarLabel/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-info">编辑</span></a>&nbsp;
                                    <a href="{:U('CarLabel/delete',array('model'=>'CarLabel','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom ajax-get">
                                        <span class="label label-warning">删除</span></a>&nbsp;
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        //修改字段值开始
        $('.editArea').dblclick(function(){
            var input = $('<input type="number" name="CarBuy_num" value="" style="max-width:80px;" />');
            var val = $(this).find('i').text();
            ($(this).find('i')).after(input.val(val));
            $(this).find('i').remove();
        })
        $('input[name="CarBuy_num"]').live({
            'blur':function(){
                var $this = $(this);
                var model = $(this).parents('td').attr('data-model');
                var id = $(this).parents('td').attr('data-id');
                var field = $(this).parents('td').attr('data-field');
                var num = $(this).val();
                $.post("__URL__/setField",{model:model,field:field,value:num,id:id},function(data){
                    $this.after('<i>'+num+'</i>');
                    $this.remove();
                })
            }
        })
        //修改字段值结束
        $('.xuan').change(function(){
            var val = $(this).val();
            if(val){
                var field = $(this).attr('data-field');
                // 调转到对应ID的url地址
                location="__URL__/index/"+field+"/"+val;

            }
        })
    </script>
</block>