<extend name="Public/base" />

<block name="main">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title widget-title-search">
                    <button class="btn btn-success href" url="{:U('CarStyle/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-inverse ajax-post" url="{:U('CarStyle/forbid',array('model'=>'CarStyle','status'=>0))}" target-form="ids">禁用</button>&nbsp;
                    <button class="btn btn-info ajax-post" url="{:U('CarStyle/resume',array('model'=>'CarStyle','status'=>1))}" target-form="ids">启用</button>&nbsp;
                    <button class="btn btn-danger confirm ajax-post" url="{:U('CarStyle/delete',array('model'=>'CarStyle','status'=>9))}" target-form="ids">删除</button>&nbsp;
                    <span style="display: none">
                    {$select,'target-form','ids'|replace}<button class="btn btn-primary ajax-post" url="{:U('CarStyle/move')}" target-form="ids">确定</button>
                    </span>
                    <form action="{:U('CarStyle/index')}" method="post" class="form">
                        <input type="text" name="title" value="{$_REQUEST['title']}" placeholder="类型名称">
                        {$select}
                        <button class="btn btn-inverse">查询</button>
                    </form>
                </div>

                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="fa fa-resize-vertical"></i>--></th>
                            <th>编号</th>
                            <th>车型名称</th>
                            <th>车型图标</th>
                            <th>选中图标</th>
                            <th>排序</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['style_name']}</td>
                                <td><img src="__ROOT__{$row['style_img']}" alt="" style="width:60px;height:30px;"></td>
                                <td><img src="__ROOT__{$row['true_style_img']}" alt="" style="width:60px;height:30px;"></td>
                                <td class="editArea" data-id="{$row['id']}" data-field="sort" data-model="CarStyle"><i >{$row['sort']}</i></td>
                                <td>{$row['status']==1?'<font color="green">启用</font>':'<font color="red">禁用</font>'}</td>
                                <td>

                                    <a href="{:U('CarStyle/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-info">编辑</span></a>&nbsp;
                                    <a href="{:U('CarStyle/delete',array('model'=>'GoodsType','ids'=>$row['id'],'status'=>9))}" title="删除" class="tip-bottom ajax-get">
                                        <span class="label label-warning">删除</span></a>&nbsp;


                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        //修改字段值开始
        $('.editArea').dblclick(function(){
            var input = $('<input type="number" name="goods_num" value="" style="max-width:80px;" />');
            var val = $(this).find('i').text();
            ($(this).find('i')).after(input.val(val));
            $(this).find('i').remove();
        })
        $('input[name="goods_num"]').live({
            'blur':function(){
                var $this = $(this);
                var model = $(this).parents('td').attr('data-model');
                var id = $(this).parents('td').attr('data-id');
                var field = $(this).parents('td').attr('data-field');
                var num = $(this).val();
                $.post("__URL__/setField",{model:model,field:field,value:num,id:id},function(data){
                    $this.after('<i>'+num+'</i>');
                    $this.remove();
                })
            }
        })
        //修改字段值结束
    </script>
</block>