
<extend name="Public/base" />
<block name="main">
    <style type="text/css">

        th,td{
            min-width: 200px;
        }
        .condition p{
            display: none;
        }
        .select-city{
            position: relative;
        }

        input.confirm{
            background: #49afcd;
            color:#fff;
            height:30px;
            width: 58px;
            outline: none;
            border: none;
        }

        input.cancel{
            background: #c5c5c5;
            color:#333;
            width: 58px;
            outline: none;
            border: none;
            height: 30px;
        }

        .city-block{
            position: absolute;
            left:-20px;
            top: 18px;
            width: 120px;
            background:	#F7F7F7;
            display: none;
            z-index: 100;
            border: 1px solid #DDDDDD;
        }

        .city-display{
            padding: 10px 0;
        }

        .select-btn{
            margin-top: 15px;
        }

    </style>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">

                <form class="form-horizontal" method="post" action="{:U('MerchantTemplate/postUpdate')}" id="form">
                    <input type="hidden" name="model" value="MerchantTemplate">
                    <input type="hidden" name="id" value="{$row['id']}">
                    <input type="hidden" name="template_id" value="{$row['t_id']}" <if condition="empty($row['t_id'])">url="{:U('MerchantTemplate/postIndex',array('id'=>$t_id))}"<else />
                    url="{:U('MerchantTemplate/postIndex',array('id'=>$row['t_id']))}"</if>>
                    <input type="hidden" name="t_id" value="{$t_id}">
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped with-check">
                            <thead>
                            <tr>
                                <th>运送方式</th>
                                <th>包邮方式</th>
                                <th>包邮地区</th>
                                <th>包邮条件</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="tbody">
                            <tr>
                                <td>
                                    <select name="ef_postage_type">
                                        <option value="">请选择运送方式</option>
                                        <option value="1" <eq name="row['ef_postage_type']" value="1">selected</eq> >快递</option>
                                        <option value="2" <eq name="row['ef_postage_type']" value="2">selected</eq> >EMS</option>
                                        <option value="3" <eq name="row['ef_postage_type']" value="3">selected</eq>>平邮</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="ef_postage_condition" class="ef-postage">
                                        <option value="">请选择包邮方式</option>
                                        <option value="1" <eq name="row['ef_postage_condition']" value="1">selected</eq>>件数</option>
                                        <option value="2" <eq name="row['ef_postage_condition']" value="2">selected</eq>>金额</option>
                                        <option value="3" <eq name="row['ef_postage_condition']" value="3">selected</eq>>件数+金额</option>
                                    </select>
                                </td>
                                <td>
                                    <div id="example" class="modal hide fade in" style="display: none;  min-width:830px;">
                                        <div class="modal-header">
                                            <a class="close" data-dismiss="modal">×</a>
                                            <h3>选择区域</h3>
                                        </div>
                                        <div class="modal-body" style="margin-left: 10px;margin-top: 15px;">
                                            <h5>华东地区：
                                                <volist name="area_ec" id="vo1">
                                                    <span class="select-city">
                                                        <input type="checkbox" name="province_name[]" value="{$vo1['id']}" province_name="{$vo1['region_name']}" class="province-name"><span class="change-color">{$vo1['region_name']}</span>
                                                        <span class="icon-chevron-down" style="cursor: pointer;"></span>
                                                        <div class="city-block">
                                                         <div class="city-display">
                                                             <div class="hidden"></div>
                                                             <volist name="vo1['city']" id="v1">
                                                                      <label class="checkbox">
                                                                          <input type="checkbox" name="city_id[]" value="{$v1['id']}" region="{$v1['city_name']}">{$v1['city_name']}
                                                                     </label>
                                                             </volist>
                                                         </div>
                                                         <p class="select-btn">
                                                             <input type="button" class="confirm" value="确 定">
                                                             <input type="button" class="cancel" value="取 消">
                                                         </p>
                                                     </div>
                                                  </span>
                                                </volist>
                                            </h5>
                                            <h5>华南地区：
                                                <volist name="area_sc" id="vo2">
                                                    <span class="select-city">
                                                        <input type="checkbox" name="province_name[]" value="{$vo2['id']}" province_name="{$vo2['region_name']}" class="province-name"><span class="change-color">{$vo2['region_name']}</span>
                                                        <span class="icon-chevron-down" style="cursor: pointer;"></span>
                                                        <div class="city-block">
                                                             <div class="city-display">
                                                                 <div class="hidden"></div>
                                                                 <volist name="vo2['city']" id="v2">
                                                                     <label class="checkbox">
                                                                          <input type="checkbox" name="city_id[]" value="{$v2['id']}" region="{$v2['city_name']}">{$v2['city_name']}
                                                                     </label>
                                                                 </volist>
                                                             </div>
                                                             <p class="select-btn">
                                                                 <input type="button" class="confirm" value="确 定">
                                                                 <input type="button" class="cancel" value="取 消">
                                                             </p>
                                                         </div>
                                                      </span>
                                                </volist>
                                            </h5>
                                            <h5>华中地区：
                                                <volist name="area_mc" id="vo3">
                                                    <span class="select-city">
                                                        <input type="checkbox" name="province_name[]" value="{$vo3['id']}" province_name="{$vo3['region_name']}" class="province-name"><span class="change-color">{$vo3['region_name']}</span>
                                                        <span class="icon-chevron-down" style="cursor: pointer;"></span>
                                                        <div class="city-block">
                                                            <div class="city-display">
                                                                <div class="hidden"></div>
                                                                <volist name="vo3['city']" id="v3">
                                                                    <label class="checkbox">
                                                                        <input type="checkbox" name="city_id[]" value="{$v3['id']}" region="{$v3['city_name']}">{$v3['city_name']}
                                                                    </label>
                                                                 </volist>
                                                            </div>
                                                           <p class="select-btn">
                                                                 <input type="button" class="confirm" value="确 定">
                                                                 <input type="button" class="cancel" value="取 消">
                                                             </p>
                                                        </div>
                                                     </span>
                                                </volist>
                                            </h5>
                                            <h5>华北地区：
                                                <volist name="area_nc" id="vo4">
                                                    <span class="select-city">
                                                        <input type="checkbox" name="province_name[]" value="{$vo4['id']}" province_name="{$vo4['region_name']}" class="province-name"><span class="change-color">{$vo4['region_name']}</span>
                                                        <span class="icon-chevron-down" style="cursor: pointer;"></span>
                                                        <div class="city-block">
                                                            <div class="city-display">
                                                                <div class="hidden"></div>
                                                                 <volist name="vo4['city']" id="v4">
                                                                    <label class="checkbox">
                                                                        <input type="checkbox" name="city_id[]" value="{$v4['id']}" region="{$v4['city_name']}">{$v4['city_name']}
                                                                     </label>
                                                                 </volist>
                                                            </div>
                                                            <p class="select-btn">
                                                                 <input type="button" class="confirm" value="确 定">
                                                                 <input type="button" class="cancel" value="取 消">
                                                             </p>
                                                        </div>
                                                     </span>
                                                </volist>
                                            </h5>
                                            <h5>西南地区：
                                                <volist name="area_sw" id="vo5">
                                                    <span class="select-city">
                                                        <input type="checkbox" name="province_name[]" value="{$vo5['id']}" province_name="{$vo5['region_name']}" class="province-name"><span class="change-color">{$vo5['region_name']}</span>
                                                        <span class="icon-chevron-down" style="cursor: pointer;"></span>
                                                        <div class="city-block">
                                                            <div class="city-display">
                                                                <div class="hidden"></div>
                                                                <volist name="vo5['city']" id="v5">
                                                                    <label class="checkbox">
                                                                         <input type="checkbox" name="city_id[]" value="{$v5['id']}" region="{$v5['city_name']}">{$v5['city_name']}
                                                                     </label>
                                                                 </volist>
                                                            </div>
                                                            <p class="select-btn">
                                                                 <input type="button" class="confirm" value="确 定">
                                                                 <input type="button" class="cancel" value="取 消">
                                                             </p>
                                                        </div>
                                                     </span>
                                                </volist>
                                            </h5>
                                            <h5>东北地区：
                                                <volist name="area_ne" id="vo6">
                                                    <span class="select-city">
                                                        <input type="checkbox" name="province_name[]" value="{$vo6['id']}" province_name="{$vo6['region_name']}" class="province-name"><span class="change-color">{$vo6['region_name']}</span>
                                                        <span class="icon-chevron-down" style="cursor: pointer;"></span>
                                                        <div class="city-block">
                                                            <div class="city-display">
                                                                <div class="hidden"></div>
                                                                <volist name="vo6['city']" id="v6">
                                                                    <label class="checkbox">
                                                                        <input type="checkbox" name="city_id[]" value="{$v6['id']}" region="{$v6['city_name']}">{$v6['city_name']}
                                                                    </label>
                                                                </volist>
                                                            </div>
                                                           <p class="select-btn">
                                                                 <input type="button" class="confirm" value="确 定">
                                                                 <input type="button" class="cancel" value="取 消">
                                                            </p>
                                                        </div>
                                                     </span>
                                                </volist>
                                            </h5>
                                            <h5>西北地区：
                                                <volist name="area_nw" id="vo7">
                                                    <span class="select-city">
                                                        <input type="checkbox" name="province_name[]" value="{$vo7['id']}" province_name="{$vo7['region_name']}" class="province-name"><span class="change-color">{$vo7['region_name']}</span>
                                                        <span class="icon-chevron-down" style="cursor: pointer;"></span>
                                                         <div class="city-block">
                                                             <div class="city-display">
                                                                 <div class="hidden"></div>
                                                                 <volist name="vo7['city']" id="v7">
                                                                     <label class="checkbox">
                                                                        <input type="checkbox" name="city_id[]" value="{$v7['id']}" region="{$v7['city_name']}">{$v7['city_name']}
                                                                    </label>
                                                                 </volist>
                                                             </div>
                                                             <p class="select-btn">
                                                                 <input type="button" class="confirm" value="确 定">
                                                                 <input type="button" class="cancel" value="取 消">
                                                             </p>
                                                         </div>
                                                     </span>
                                                </volist>
                                            </h5>
                                            <h5>港澳台地区：
                                                <volist name="area_hmt" id="vo8">
                                                    <span class="select-city">
                                                        <input type="checkbox" name="province_name[]" value="{$vo8['id']}" province_name="{$vo8['region_name']}" class="province-name"><span class="change-color">{$vo8['region_name']}</span>
                                                        <span class="icon-chevron-down" style="cursor: pointer;"></span>
                                                        <div class="city-block">
                                                         <div class="city-display">
                                                             <div class="hidden"></div>
                                                              <volist name="vo8['city']" id="v8">
                                                                     <label class="checkbox">
                                                                        <input type="checkbox" name="city_id[]" value="{$v8['id']}" region="{$v8['city_name']}">{$v8['city_name']}
                                                                    </label>
                                                              </volist>
                                                         </div>
                                                         <p class="select-btn">
                                                             <input type="button" class="confirm" value="确 定">
                                                             <input type="button" class="cancel" value="取 消">
                                                         </p>
                                                     </div>
                                                 </span>
                                                </volist>
                                            </h5>
                                        </div>
                                        <div class="city-box" style="display: none">
                                            <volist name="city_id" id="v">
                                                <input type="hidden" value="{$v}">
                                            </volist>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-success" data-dismiss="modal">确定</a>
                                            <a href="#" class="btn btn-close" data-dismiss="modal">关闭</a>
                                        </div>
                                    </div>
                                    <p><a data-toggle="modal" href="#example" class="select-area"><if condition="!empty($areas)">{$areas}<else />选择地区</if></a></p>
                                </td>
                                <td class="condition">
                                    <p class="num-package" <eq name="row['ef_postage_condition']" value="1">style="display: block"</eq>> 满 <input class="condition-one" style="width: 60px;" type="text" <eq name="row['ef_postage_condition']" value="1">name="condition_fill_one" value="{$row['condition_fill_one']}"</eq>
                                    > 件 包邮</p>
                                    <p class="num-money"   <eq name="row['ef_postage_condition']" value="2">style="display: block"</eq>> 满 <input class="condition-one" style="width: 60px;" type="text" <eq name="row['ef_postage_condition']" value="2">name="condition_fill_one" value="{$row['condition_fill_one']}"</eq>
                                    > 元 包邮</p>
                                    <p class="num-pag-money"  <eq name="row['ef_postage_condition']" value="3">style="display: block"</eq>> 满 <input class="condition-one" style="width: 60px;" type="text" <eq name="row['ef_postage_condition']" value="3">name="condition_fill_one" value="{$row['condition_fill_one']}"</eq>
                                    > 件
                                        <input style="width: 60px" type="text" name="condition_fill_two" <if condition="empty($row['condition_fill_two'])">value=''<else/>value="{$row['condition_fill_two']}"</if>
                                    > 元 包邮
                                    </p>
                                </td>
                                <td style="width:120px;">
                                    <input type="button" class="btn back" value="返 回">
                                    <button class="btn btn-info ajax-post" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="application/javascript">
        $(document).ready(function(){
            $('.back').click(function(){
                location.href = $('input[name="template_id"]').attr('url');
            });
            var aIcon        =  $('.icon-chevron-down');
            var aCityBlock     = $('.city-block');
            $('.btn-close').click(function(){
                $(aIcon).removeClass('icon-chevron-up');
                $(aIcon).addClass('icon-chevron-down');
                $(aCityBlock).hide();
            });

            var aIcon        =  $('.icon-chevron-down');
            var aCityBlock   =  $('.city-block');
            var aCityDisplay =  $('.city-display');
            var aHidden      =  $('.hidden');

            for( var i=0;i<aIcon.length;i++ ){
                (function(i){
                    $(aIcon[i]).unbind('click').click(function(){
                        if($(aCityBlock[i]).is(':hidden')){
                            $(aIcon).removeClass('icon-chevron-up');
                            $(aIcon).addClass('icon-chevron-down');
                            $(aCityBlock).hide();
                            $(aIcon[i]).removeClass('icon-chevron-down');
                            $(aIcon[i]).addClass('icon-chevron-up');
                            $(aCityBlock[i]).slideDown();
                            var aInput = $(aCityDisplay[i]).find("input:checked");
                            if( aInput.length>0 ){
                                var oContent = '';
                                for(var j=0; j<aInput.length; j++ ){
                                    (function (j){
                                        oContent += "<input type='hidden' value="+$(aInput[j]).attr('value')+ ">";
                                    })(j);
                                }
                                $(aHidden[i]).html(oContent);
                            }
                        }else{
                            $(aIcon[i]).removeClass('icon-chevron-up');
                            $(aIcon[i]).addClass('icon-chevron-down');
                            $(aCityBlock[i]).slideUp();
                        }
                    })
                })(i);
            }


            var aCancel      =  $('.cancel');
            var aIcon        =  $('.icon-chevron-down');
            var aCityBlock   =  $('.city-block');
            var aConfirm     =  $('.confirm');
            var aHidden      =  $('.hidden');
            var aChangeColor =  $('.change-color');
            var aProvinceName    = $('input.province-name');


            for( var i=0; i<aConfirm.length; i++ ){
                (function(i){
                    $(aConfirm[i]).click(function(){
                        $(aIcon).removeClass('icon-chevron-up');
                        $(aIcon).addClass('icon-chevron-down');
                        $(aCityBlock[i]).slideUp();
                        if($(aCityBlock[i]).find('input[type="checkbox"]').is(':checked')){
                            $(aChangeColor[i]).css('color','#FF6347');
                            if($(aCityBlock[i]).find('input[type="checkbox"]').length == $(aCityBlock[i]).find('input:checked').length){
                                $(aProvinceName[i]).attr('checked',true);
                                $(aProvinceName[i]).parent('span').addClass('checked');
                            }
                        }else{
                            $(aChangeColor[i]).css('color','#333');
                        }

                    });
                    $(aCancel[i]).click(function(){
                        var oCheckExist = $(aCityBlock[i]).find('input[type="checkbox"]');
                        var oCheckSpan = $(aCityBlock[i]).find('span');
                        $(oCheckSpan).removeClass('checked');
                        $(oCheckExist).attr('checked',false);

                        var aInputHidden = $(aHidden[i]).find("input[type='hidden']");
                        for( var m=0; m<aInputHidden.length; m++ ){
                            (function(m){
                                for (var n = 0; n < oCheckExist.length; n++) {
                                    (function (n) {
                                        if ( $(oCheckExist[n]).attr('value') == $(aInputHidden[m]).attr('value')) {
                                            $(oCheckExist[n]).parent('span').addClass('checked');
                                            $(oCheckExist[n]).attr('checked',true);
                                        }
                                    })(n);
                                }
                            })(m);
                        }
                        $(aIcon).removeClass('icon-chevron-up');
                        $(aIcon).addClass('icon-chevron-down');
                        $(aCityBlock[i]).slideUp();
                    })
                })(i);
            }

            var oButtonSuccess = $('.btn-success');
            var aIcon        =  $('.icon-chevron-down');
            var aCityBlock     = $('.city-block');
            var aCityDisplay   = $('.city-display');
            var aProvince      = $('input.province-name');
            var aChangeColor =  $('.change-color');

            $('.select-area').click(function(){
                for( var i=0; i<aCityBlock.length; i++ ){
                    (function(i){
                        var aCheckBox = $(aCityBlock[i]).find('input:checked');
                        if($(aProvince[i]).is(':checked')){
                            $(aChangeColor[i]).css('color','#FF6347');
                        }else{
                            $(aChangeColor[i]).css('color','#333');
                        }
                        if(aCheckBox.length){
                            $(aChangeColor[i]).css('color','#FF6347');
                        }else{
                            $(aChangeColor[i]).css('color','#333');
                        }
                    })(i)
                }
            });


            $(oButtonSuccess).click(function(){
                $('.city-box').remove();
                $(aIcon).removeClass('icon-chevron-up');
                $(aIcon).addClass('icon-chevron-down');
                $(aCityBlock).hide();
                var htmls           = '';
                var html            = '';
                for( var i=0; i<aCityBlock.length; i++ ){
                    (function(i){
                        if($(aProvince[i]).is(':checked')){
                            var aProvinceName = $(aProvince[i]).attr('province_name');
                            htmls += aProvinceName+',';
                        }else if($(aProvince[i]).not(':checked')){
                            var aInputDemo = $(aCityDisplay[i]).find("input:checked");
                            var aInput     = $(aCityDisplay).find("input:checked");
                            if(aInput.length == 0){
                                html='选择地区';
                            }else{
                                for( var j=0; j< aInputDemo.length; j++ ){
                                    (function(j){
                                        if($(aInputDemo[j]).attr('region')!=''){
                                            html +=  $(aInputDemo[j]).attr('region')+',';
                                        }
                                    })(j);
                                }
                            }
                        }
                        $('.select-area').html(htmls+html);
                    })(i)
                }
            });


            var aCityDisplay   = $('.city-display');
            var aProvinceName  = $('input.province-name');
            var aChangeColor =  $('.change-color');


            for( var i=0; i<aProvinceName.length; i++ ){
                (function(i){
                    $(aProvinceName[i]).change(function(){
                        if($(aProvinceName[i]).is(':checked')){
                            $(aCityDisplay[i]).find('input[type="checkbox"]').attr('checked',true);
                            $(aCityDisplay[i]).find('span').addClass('checked');
                            $(aChangeColor[i]).css('color','#FF6347');
                        }else{
                            $(aCityDisplay[i]).find('input[type="checkbox"]').attr('checked',false);
                            $(aCityDisplay[i]).find('span').removeClass('checked');
                            $(aChangeColor[i]).css('color','#333');
                        }
                    })
                })(i);
            }

            var aCityBlock     = $('.city-block');
            var aCityDisplay     = $('.city-block');
            var aProvinceName  = $('input.province-name');

            for( var i=0; i<aCityDisplay.length; i++ ){
                (function(i){
                    var aCheck     = $(aCityBlock[i]).find('input[type="checkbox"]');
                    var oValue = $('.city-box').find('input[type="hidden"]');
                    for( var m=0; m<aCheck.length; m++ ){
                        (function(m){
                            for( var n=0; n<oValue.length; n++){
                                (function(n){
                                    if ( $(aCheck[m]).attr('value') == $(oValue[n]).attr('value')) {
                                        $(aCheck[m]).attr('checked',true);
                                        $(aCheck[m]).parent('span').addClass('checked');
                                    }
                                })(n);
                            }
                        })(m);
                    }
                    var aCheckBox  = $(aCityBlock[i]).find('input:checked');
                    if(aCheck.length == aCheckBox.length){
                        $(aProvinceName[i]).attr('checked',true);
                        $(aProvinceName[i]).parent('span').addClass('checked');
                    }
                })(i);
            }


            var aEfPostage   = $('.ef-postage');
            var aNumPackage  = $("p.num-package");
            var aNumMoney    = $('p.num-money');
            var aNumPagMoney = $('p.num-pag-money');
            $(aEfPostage).change(function(){
                if($(this).find('option:selected').attr('value') == 1 ){
                    $(aNumPackage).find('.condition-one').attr('name','condition_fill_one');
                    $(aNumMoney).find('.condition-one').attr('name','');
                    $(aNumPagMoney).find('.condition-one').attr('name','');
                    $(aNumPackage).show();
                    $(aNumMoney).hide();
                    $(aNumPagMoney).hide();
                }else if( $(aEfPostage).find('option:selected').attr('value') == 2 ){
                    $(aNumMoney).find('.condition-one').attr('name','condition_fill_one');
                    $(aNumPackage).find('.condition-one').attr('name','');
                    $(aNumPagMoney).find('.condition-one').attr('name','');
                    $(aNumMoney).show();
                    $(aNumPackage).hide();
                    $(aNumPagMoney).hide();
                }else if( $(aEfPostage).find('option:selected').attr('value') == 3 ){
                    $(aNumPagMoney).find('.condition-one').attr('name','condition_fill_one');
                    $(aNumPackage).find('.condition-one').attr('name','');
                    $(aNumMoney).find('.condition-one').attr('name','');
                    $(aNumPagMoney).show();
                    $(aNumPackage).hide();
                    $(aNumMoney).hide();
                }
            })
        });
    </script>
</block>