<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <h5>调价单</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Goods/modifyPrice')}" id="form">
                        <input type="hidden" name="model" value="Goods">
                        <input type="hidden" name="id" value="{$_GET['id']}">

                        <div class="control-group">
                            <label class="control-label">调价单</label>
                            <div class="controls">
                                {:hook('upload',array('is_first'=>1,'unique_sign'=>'adjustment_picture','queue_limit'=>100,'field_name'=>'adjustment_picture','field_value'=>'','save_path'=>'Goods'))}
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">市场价</label>
                            <div class="controls">
                                <input type="number" name="market_price" value="">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">该店售价</label>
                            <div class="controls">
                                <input type="number" name="shop_price" value="">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">结算价</label>
                            <div class="controls">
                                <input type="number" name="settlement_price" value="">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>