<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <button class="btn btn-info row-edit"   style="cursor: pointer;" >新增</button>&nbsp;
                </div>
                <!--// search start-->
                <div class="search-main" style="display: none;">
                    <form class="form-horizontal" method="post" action="{:U('LimitBuy/stageUpdate')}" id="form">
                        <div class="search-frame-main">
                            <input type="hidden" name="model" value="LimitBuy">
                            <input type="hidden" name="id" id="row_id" value="">
                            场次名称：
                            <input class="search-frame"  id="row_name" style="width:300px;" type="text" name="stage_name" value="" >
                            开始时间:
                            <input class="search-frame"  id="row_start" style="width:80px;" type="number" name="start_time" value="" max="23" min="0">
                            结束时间:
                            <input class="search-frame"  id="row_end" style="width:80px;" type="number" name="end_time" value="" max="23" min="0">
                            <button class="btn btn-inverse ajax-post " type="submit" id="submit" target-form="form-horizontal" style="margin:4px 10px;">保存</button>
                            <a class="btn clearInput"  style="margin:4px 10px;">取消</a>
                        </div>
                    </form>
                </div>
                <!--// search end-->
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/></th>
                            <th>ID</th>
                            <th>场次名称</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>持续时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['stage_name']}</td>
                                <td>{$row['start_time']}点</td>
                                <td>{$row['end_time']}点</td>
                                <td>{$row['end_time'] - $row['start_time']}小时</td>
                                <td>
                                    <a  title="编辑" class="tip-bottom row-edit" data-id="{$row['id']}" data-name="{$row['stage_name']}" data-start="{$row['start_time']}" data-end="{$row['end_time']}" style="cursor: pointer;">
                                        <span class="label label-success">编辑</span></a>&nbsp;
                                    <a href="{:U('LimitBuy/remove',array('model'=>'LimitBuy','ids'=>$row['id']))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $('.clearInput').click(function(){
            $('.search-main').hide();
        });
        $('.row-edit').click(function () {
            var id = $(this).attr('data-id');
            var name =$(this).attr('data-name');
            var start =$(this).attr('data-start');
            var end =$(this).attr('data-end');
            $('#row_id').val(id);
            $('#row_name').val(name);
            $('#row_start').val(start);
            $('#row_end').val(end);
            $('.search-main').show();
        });
        //设置推荐
        $('.recommend').click(function(){
            $this = $(this);
            var gid = $(this).attr('data-gid');
            var model = $(this).attr('data-model');
            //获取到是否是推荐
            var is = $(this).attr('data-rec');
            if( is != '0'){
                $.post('__URL__/setRecommend',{model:model,id:gid,is_recommend:0},function(data){
                    if(data=='1'){
                        $this.html('<span class="label label-important">✘</span>');
                        $this.attr('data-rec','0');
                    }
                })
            }else{
                $.post('__URL__/setRecommend',{model:model,id:gid,is_recommend:1},function(data){
                    if(data=='1'){
                        $this.html('<span class="label label-success">✔</span>');
                        $this.attr('data-rec','1');
                    }
                })

            }
        });
    </script>
</block>