<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__STATIC__/datetimepicker/css/datetimepicker.css" />
    <style>
        #datepicker input{
            width:auto;
        }

    </style>
</block>
<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Auction/update')}" id="form">
                        <input type="hidden" name="model" value="Auction">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <input type="hidden" name="merchant_id" value="{:getMerchantId()}">

                        <div class="control-group">
                            <label class="control-label">拍卖活动名称</label>
                            <div class="controls">
                                <input type="text"  name="auct_name" value="{$row['auct_name']}" {$disabled}>
                                <span class="help-block">提示：拍卖活动请于活动开始前两个工作日以上的时间内申请</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">拍卖活动描述</label>
                            <div class="controls">
                                <textarea name="auct_desc" id="" {$disabled} cols="5" rows="3" placeholder="30字以内即可">{$row['auct_desc']}</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">选择分类</label>
                            <div class="controls">
                                <select  name="g-cate" id="g-cate" {$disabled}>
                                    <option value="0">选择分类</option>
                                    <volist name="cate_list" id="group_info">
                                        <option disabled value="{group_info['id']}">{:str_repeat('&nbsp;',3)}├&nbsp;<span>{$group_info['name']}</option>
                                        <volist name="group_info['underCate']" id="v0">
                                            <option disabled value="{{$v0['id']}}">{:str_repeat('&nbsp;',7)}└&nbsp;<span>{$v0['name']}</option>
                                            <notempty name="v0['underCate']">
                                                <volist name="v0['underCate']" id="v1">
                                                    <if condition="in_array($v1['id'],explode(',',$cates))">
                                                        <option value="{$v1['id']}" <if condition="$row['cate_id'] eq $v1['id']">selected</if> >{:str_repeat('&nbsp;',13)}└&nbsp;<span>{$v1['name']}✔</span></option>

                                                    </if>
                                                </volist>

                                            </notempty>
                                        </volist>

                                    </volist>

                                </select>
                                &nbsp;
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">选择商品</label>
                            <div class="controls">
                                <select  name="goods_id" id="goods_id" {$disabled}>
                                    <if condition="!empty($row['goods_list'])">
                                        <volist name="row['goods_list']" id="vo">
                                            <option value="{$vo['id']}" <if condition="$row['goods_id'] eq $vo['id']">selected</if>>{$vo['goods_name']}，¥ {$vo['shop_price']}</option>
                                        </volist>
                                        <else/>
                                        <option >暂无商品</option>
                                    </if>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">选择货品</label>
                            <div class="controls">
                                <select  name="product_id" id="product_id" {$disabled}>
                                    <if condition="!empty($row['product_list'])">
                                        <volist name="row['product_list']" id="vo">
                                            <option value="{$vo['id']}" <if condition="$row['product_id'] eq $vo['id']">selected</if>>{:getAttrGroupId1($row['goods_id'],$vo['id'])}，库存:{$vo['product_number']}</option>
                                        </volist>
                                    <else />
                                        <option >暂无货品</option>
                                    </if>
                                </select>
                            </div>
                        </div>
                        <!--<div class="control-group">-->
                            <!--<label class="control-label">拍卖活动商品</label>-->

                            <!--<div class="controls">-->
                                <!--<div class="input-append">-->
                                    <!--<input type="text"  id="goods_info" name="goods_name" value="{$row['goods_name']}" placeholder="请输入商品名称或者ID查找">-->
                                    <!--<button class="btn" type="button" id="gid">搜ID</button>-->
                                    <!--<button class="btn" type="button" id="gname">搜名称</button>-->
                                    <!--<input type="hidden" name="goods_id" value="{$row['goods_id']}">-->
                                    <!--<input type="hidden" name="merchant_id" value="{$row['merchant_id']}">-->
                                    <!--<input type="hidden" name="product_id" value="{$row['product_id']}">-->

                                <!--</div>-->
                                    <!--<span id="attr" style="text-decoration:underline ">{$row['attr']}</span>-->
                            <!--</div>-->
                            <!--<div class="controls" style="width: 550px;max-height: 300px;overflow:auto;display: none;" id="glist">-->
                                <!--<table class="table table-bordered" >-->
                                    <!--<tr id="goods_list">-->
                                        <!--<th>ID</th>-->
                                        <!--<th width="300">名称</th>-->
                                        <!--<th>货品选择</th>-->
                                        <!--<th>选项</th>-->
                                    <!--</tr>-->

                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--开始结束时间-->
                        <div class="control-group">
                            <label class="control-label">拍卖开始时间</label>
                            <div class="controls">
                                <div class="input-daterange" id="datepicker" style="margin-bottom: 10px;">
                                    <notempty name="row['id']">
                                        <input type="text" name="start_time" value="{$row['start_time']|date='Y-m-d',###}" {$disabled} class="text-width-10 form_date_picker" placeholder="开始时间">
                                        <else/>
                                        <input type="text" name="start_time" value="" class="text-width-10 form_date_picker" {$disabled} placeholder="开始时间">
                                    </notempty>
                                </div>
                                <span class="help-block">拍卖开始时间 : 当天0:00:00</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">拍卖结束时间</label>
                            <div class="controls">
                                <div class="input-daterange" id="datepicker" style="margin-bottom: 10px;">
                                    <notempty name="row['id']">
                                        <input type="text" name="end_time" value="{$row['end_time']|date='Y-m-d',###}" {$disabled} class="text-width-10 form_date_picker" placeholder="结束时间">
                                        <else/>
                                        <input type="text" name="end_time" value="" class="text-width-10 form_date_picker" {$disabled} placeholder="结束时间">
                                    </notempty>
                                </div>
                                <span class="help-block">拍卖结束时间 : 当日23:59:59</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">起拍价</label>
                            <div class="controls">
                                <input type="number"  name="start_price" value="{$row['start_price']|default='0.00'}" min="0" {$disabled}>
                                <span class="help-block">10个字符以内</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">一口价</label>
                            <div class="controls">
                                <input type="number"  name="one_price" value="{$row['one_price']|default='0.00'}" min="0" {$disabled}>
                                <span class="help-block">10个字符以内</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">保留价</label>
                            <div class="controls">
                                <input type="number"  name="leave_price" value="{$row['leave_price']|default='0.00'}" min="0" {$disabled}>
                                <span class="help-block">默认为无</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">加价幅度</label>
                            <div class="controls">
                                <input type="number"  name="add_price" value="{$row['add_price']|default='0'}" min="0" {$disabled}>
                                <span class="help-block">10个字符以内</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">保证金</label>
                            <div class="controls">
                                <input type="number"  name="base_money" value="{$row['base_money']|default=0}" min="0" {$disabled}>
                                <span class="help-block">10个字符以内</span>
                            </div>
                        </div>
                        <switch name="row['is_running']">
                        <case value="1">
                            <div class="control-group">
                                <label class="control-label">实际结束时间</label>
                                <div class="controls">
                                    <input type="text"  name="end_true_time" value="{:date('Y-m-d H:i:s',$row['end_true_time'])}" {$disabled}>
                                    <span class="help-block">10个字符以内</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">出价最高者</label>
                                <div class="controls">
                                    <input type="text"  name="winner_id" value="{$row['winer_id']}" {$disabled}>
                                    <input type="text"  name="" value="{$row['now_price']}" placeholder="出价金额" {$disabled}>
                                    <span class="help-block">10个字符以内</span>
                                </div>
                            </div>

                        </case>

                        </switch>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <if condition="$row['status'] neq 2">
                                <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                            </if>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        //年月日选择时间
        $('.form_date_picker').datetimepicker({
            language:  'zh-CN',
            format: 'yyyy-mm-dd',
            todayBtn:  1,
            autoclose: 1,
            startView: 2,
            minView: 3,
            forceParse: 0
        });
        //年月日 时分秒选择时间
        $('.form_date_time_picker').datetimepicker({
            language:  'zh-CN',
            format: 'yyyy-mm-dd H:i:s',
            todayBtn:  1,
            autoclose: 1,
            startView: 2,
            minView: 0,
            forceParse: 0
        });
//        $('.form_datetime').datetimepicker({
//            format: 'yyyy-mm-dd',
//            language:"zh-CN",
//            autoclose:true
//        });
        $(function(){
            $('#gid').click(function(){
                //清除之前的
                $("#goods_list").nextAll("tr").remove();
                var gid = $('#goods_info').val();
                if(!isNaN(gid) && gid > 0){
                    $.post("__MODULE__/Auction/getGoods",{gid:gid},function(data){
                        //将获取到的数据进行添加到节点
                        if(data){
                            $('#goods_list').after(data);
                            $('#glist').show();
                        }else{
                            $('#goods_list').after($("<h5>查询无果</h5>"));
                        }

                    })
                }else{
                    alert('请输入商品ID');
                }
            })

            $('#gname').click(function(){
                //清除之前的
                $("#goods_list").nextAll("tr").remove();
                var gname = $('#goods_info').val();
                if(gname){
                    $.post("__MODULE__/Auction/getGoods",{gname:gname},function(data){
                        //将获取到的数据进行添加到节点
                        if(data){
                            $('#goods_list').after(data);
                            $('#glist').show();
                        }else{
                            $('#goods_list').after($("<h5>查询无果</h5>"));
                        }

                    })
                }else{
                    alert('请输入商品名称');
                }
            })

            $("a.xuan").live({
                'click':function(){
                    //获取到商品的名称
                    var goods_name = $(this).parents('td').siblings('td.goods_name').text();
                    var goods_id = $(this).parents('td').siblings('td.goods_id').text();
                    var merchant_id = $(this).parents('td').siblings('td.goods_name').attr("data-mid");
                    var product_id = $(this).parents('td').siblings('td').find('select[name=product_id]').val();
                    //获取到值
                    var product_value = $(this).parents('td').siblings('td').find('select[name=product_id] option[value='+product_id+']').text();
                    $('#attr').text('属性组合 ：'+product_value);
                    $('#goods_info').val(goods_name);
                    //设置值
                    $('input[name=goods_id]').val(goods_id);
                    $('input[name=merchant_id]').val(merchant_id);
                    $('input[name=product_id]').val(product_id);
                }
            })
            $("select[name=g-cate]").change(function(){
                var cate_id = $(this).val();
                $("select[name=goods_id]").children().remove();
                $.post("__MODULE__/Auction/getGoodsList",{cate_id:cate_id},function(data){
                    $("select[name=goods_id]").append(data);
                })
            })
            $("select[name=goods_id]").change(function(){
                var goods_id = $(this).val();
                $("select[name=product_id]").children().remove();
                $.post("__MODULE__/Auction/getProductList",{goods_id:goods_id},function(data){
                    $("select[name=product_id]").append(data);
                })
            })

        })
    </script>
</block>