<extend name="Public/base" />

<block name="main">
    <style type="text/css">
        #edui1_iframeholder{
            width: 100% !important;
        }
    </style>
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title widget-title-search">
                    <button onclick="javascript:history.back(-1);return false;" class="btn btn-inverse"> << 返回</button>
                </div>

                <!--// search start-->
                <div class="widget-title widget-title-search">
                <form action="{:U('Theme/addThemeGoods')}" method="post" class="form-search">
                    &nbsp;
                    <input type="text" name="goods_sn" class="input-medium search-query" placeholder="输入货号精准查询" style="height:auto">
                    <input type="text" name="merchant_name"  class="input-medium search-query" placeholder="按店铺查询" style="height:auto">
                    <input type="text" name="goods_name" class="input-medium search-query" placeholder="按商品查询" style="height:auto">
                    <input type="hidden" name="theme_id" value="{$_REQUEST['theme_id']}">
                    <button type="submit" class="btn">查询</button>

                </form>
                </div>
                <!--// search end-->
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/></th>
                            <th>商品编号</th>
                            <th>所属店铺</th>
                            <th>商品名称</th>
                            <th>所属分类</th>
                            <th>货号</th>

                            <th>售价</th>
                            <th>已参与主题</th>

                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <if condition="$row['status'] neq 3">
                                <tr>
                                    <td>
                                        <input type="checkbox" name="ids[]" value="{$row['id']}" class="ids" <if condition="$row['theme_id'] neq 0">disabled</if> />
                                    </td>
                                    <td>{$row['id']}</td>
                                    <td>{$row['merchant_name']}</td>
                                    <td>{$row['goods_name']}</td>
                                    <td>{$row['cat_name']}</td>
                                    <td>{$row['goods_sn']}</td>
                                    <td>￥{$row['shop_price']}</td>
                                    <td >
                                        {$themeList[$row['theme_id']]}
                                    </td>

                                </tr>
                            </if>

                        </volist>
                        </tbody>
                    </table>
                </div>


                <div class="pagination alternate">
                    <!--<button class="btn btn-danger  ajax-post" url="{:U('',array('is_buy'=>0))}" target-form="ids">批量移出该主题</button>&nbsp;-->

                    <button url="{:U('Theme/doAddThemeGoods',array('theme_id'=>$_REQUEST['theme_id']))}"  class=" btn ajax-post" target-form="ids">将所选添加商品到 <b style="color: blue">{$themeList[$_REQUEST['theme_id']]}</b> 主题</button>
                    {$page}
                </div>

            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('#shenhe').change(function(){
                var shenhe = $(this).val();
                if(shenhe){

                    // 调转到对应ID的url地址
                    location="__MODULE__/Goods/index/shenhe/"+shenhe;



                }
            })
         })


    </script>
</block>
