<extend name="Public/base" />

<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search">
                    <a class="btn btn-success" href="{:U('BrandBuy/addBrandBuyGoods')}">+新增品牌商品</a>&nbsp;
                    <a class="btn btn-info" href="#myModal" role="button" data-toggle="modal">编辑首页显示图</a>&nbsp;
                </div>

                <!--// search start-->
                <div class="search-main" style="display: none;">
                    <form class="form-horizontal" method="post" action="{:U('BrandBuy/update')}" id="form">
                        <div class="search-frame-main">
                            <input type="hidden" name="model" value="BrandBuy">
                            <input type="hidden" name="id" id="row_id" value="">
                            商品名称：
                            <input class="search-frame"  id="row_type_name" style="width:300px;" type="text" name="goods_name" value="" readonly>
                            所需积分:
                            <input class="search-frame"  id="row_sort" style="width:150px;" type="number" name="use_integral" value="" >
                            <select name="is_recommend" id="" style="width: 80px;">
                                <option value="1">推荐</option>
                                <option value="0">不推荐</option>
                            </select>
                            <button class="btn btn-inverse ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal" style="margin:4px 10px;">保存</button>
                            <a class="btn clearInput"  style="margin:4px 10px;">取消</a>
                        </div>
                    </form>
                </div>
                <!--// search end-->

                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/></th>
                            <th>商品ID</th>
                            <th>商品名称</th>
                            <th>所属品牌</th>
                            <th>所属店铺</th>
                            <th>是否推荐</th>
                            <th><i class="icon-edit"></i> 排序</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>

                                <td><a href="__MODULE__/Goods/update/id/{$row['goods_id']}">{$row['goods_name']}</a></td>
                                <td>{:getName('GoodsBrand','brand_name',$row['brand_id'])}</td>
                                <td>{$row['merchant_name']}</td>
                                <td class="recommend" data-rec="{$row['is_recommend']}" data-gid="{$row['id']}" data-model="BrandBuy" style="cursor: pointer;">
                                    {$row['is_recommend']?'<span class="label label-success">✔</span>':'<span class="label label-important">✘</span>'}
                                </td>
                                <td class="editArea" data-id="{$row['id']}" data-field="sort" data-model="BrandBuy"><i >{$row['sort']}</i></td>

                                <td>
                                    {:date('Y-m-d H:i',$row['create_time'])}
                                </td>
                                <td>
                                    <!--<a  title="编辑" class="tip-bottom row-edit" data-id="{$row['id']}" data-value="{$row['goods_name']}" data-sort="{$row['use_integral']}" style="cursor: pointer;">-->
                                        <!--<span class="label label-success">编辑</span></a>&nbsp;-->
                                    <a href="{:U('BrandBuy/remove',array('model'=>'BrandBuy','ids'=>$row['id']))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">移出品牌团</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
    <!-- 模态框--热门品牌查看 -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">编辑展示图</h3>
        </div>
        <form action="{:U('Ads/update')}" class="form-horizontal1" method="post">
        <div class="modal-body" style="max-height: 500px;overflow: auto;">
            <input type="hidden" name="model" value="Ads">
            <input type="hidden" name="id" value="{$ads['id']}">
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                {:hook('upload',array('is_first'=>1,'unique_sign'=>'pic','field_name'=>'picture','field_value'=>$ads['picture'],'save_path'=>'Ads'))}
                <span class="help-block">展示比例 3:2</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">活动链接地址</label>
            <div class="controls">
                <input type="text" name="href" value="{$ads['href']}" >

            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-inverse ajax-post no-refresh"  target-form="form-horizontal1" type="submit" >保存</button>
        </div>
        </form>
    </div>
</block>
<block name="script">
    <script>
        $('.clearInput').click(function(){
            $('.search-main').hide();
        });
        $('.row-edit').click(function () {
            var id = $(this).attr('data-id');
            var type_name =$(this).attr('data-value');
            var sort =$(this).attr('data-sort');
            $('#row_id').val(id);
            $('#row_type_name').val(type_name);
            $('#row_sort').val(sort);
            $('.search-main').show();
        });
        //设置推荐
        $('.recommend').click(function(){
            $this = $(this);
            var gid = $(this).attr('data-gid');
            var model = $(this).attr('data-model');
            //获取到是否是推荐
            var is = $(this).attr('data-rec');
            if( is != '0'){
                $.post('__URL__/setRecommend',{model:model,id:gid,is_recommend:0},function(data){
                    if(data=='1'){
                        $this.html('<span class="label label-important">✘</span>');
                        $this.attr('data-rec','0');
                    }
                })
            }else{
                $.post('__URL__/setRecommend',{model:model,id:gid,is_recommend:1},function(data){
                    if(data=='1'){
                        $this.html('<span class="label label-success">✔</span>');
                        $this.attr('data-rec','1');
                    }
                })

            }
        });
        //修改字段值开始
        $('.editArea').dblclick(function(){
            var input = $('<input type="number" name="goods_num" value="" style="max-width:80px;" />');
            var val = $(this).find('i').text();
            ($(this).find('i')).after(input.val(val));
            $(this).find('i').remove();
        })
        $('input[name="goods_num"]').live({
            'blur':function(){
                var $this = $(this);
                var model = $(this).parents('td').attr('data-model');
                var id = $(this).parents('td').attr('data-id');
                var field = $(this).parents('td').attr('data-field');
                var num = $(this).val();
                $.post("__URL__/setField",{model:model,field:field,value:num,id:id},function(data){
                    $this.after('<i>'+num+'</i>');
                    $this.remove();
                })
            }
        })
        //修改字段值结束
    </script>
</block>