<extend name="Public/base" />
<block name="style">
    <link rel="stylesheet" href="__STATIC__/datetimepicker/css/datetimepicker.css" />
    <style>
        #datepicker input{
            width:auto;
        }
    </style>
</block>
<block name="main">

    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="{:U('Point/update')}" id="form">
                        <input type="hidden" name="model" value="Point">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">生效日期</label>
                            <div class="controls">
                                <div class="input-daterange" id="datepicker" style="margin-bottom: 10px;">
                                    <input type="text" name="date" value="{$row['date']}" class="text-width-10 form_datetime" placeholder="生效时间">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">无界指数值</label>
                            <div class="controls">
                                <input type="number"  name="point_num" value="{$row['point_num']}" >
                                <span class="help-block">请输入整数</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">积分兑换比例</label>
                            <div class="controls">
                                <input type="number" name="int_rate" value="{$row['int_rate']}">
                                <span class="help-block">请输入比例 1:XXX</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">购物券赠送比例 </label>
                            <div class="controls">
                                <input type="number" name="send_rate" value="{$row['send_rate']}">
                                <span class="help-block">请输入比例 1:XXX</span>
                            </div>
                        </div>
                        <!--<div class="control-group">-->
                            <!--<label class="control-label">是否启用</label>-->
                            <!--<div class="controls">-->
                                <!--<select name="status" class="select-c">-->
                                    <!--<option value="1" <if condition="$row['status'] eq 1" > selected </if>>启用</option>-->
                                    <!--<option value="2" <if condition="$row['status'] eq 2" > selected </if>>不启用</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->


                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $('.form_datetime').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            autoclose:true
        });
    </script>
</block>