<extend name="Public/base" />

<block name="main">
    <div class="row-fluid" >

    </div>
    <div class="row-fluid">

        <div class="span12">
            <div class="widget-box">
                <div class="widget-title widget-title-search">
                    <button class="btn btn-success href" url="{:U('Academy/add')}" target-form="ids">新增</button>&nbsp;
                    <button class="btn btn-inverse ajax-post" url="{:U('Academy/forbid',array('model'=>'Academy','status'=>0))}" target-form="ids">禁用</button>&nbsp;
                    <button class="btn btn-info ajax-post" url="{:U('Academy/resume',array('model'=>'Academy','status'=>1))}" target-form="ids">启用</button>&nbsp;
                </div>
                <!--// search start-->
                <div class="search-main">
                    <form action="{:U('Academy/index')}" method="post" class="form">
                        <div class="search-frame-main">
                            <input class="search-frame" type="text" name="title" value="{$_REQUEST['title']}" placeholder="标题">
                            <input class="search-frame" type="text" name="source" value="{$_REQUEST['source']}" placeholder="来源">
                        </div>

                        <div class="search-btn">
                            <button class="btn btn-inverse" style="margin:4px 10px;">查询</button>
                        </div>
                    </form>
                </div>
                <!--// search end-->
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="title-checkbox" name="title-checkbox" class="check-all"/><!--<i class="fa fa-resize-vertical"></i>--></th>
                            <th>ID</th>
                            <th>类别</th>
                            <th>标题</th>
                            <th>来源</th>
                            <th>推荐</th>
                            <th>排序</th>
                            <th>浏览量</th>
                            <th>添加时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <volist name="list" id="row">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="{$row['id']}" class="ids"/></td>
                                <td>{$row['id']}</td>
                                <td>{$row['ac_type_name']}</td>
                                <td>{$row['title']}</td>
                                <td>{$row['source']|}</td>
                                <td>
                                    <eq name="row['is_recommend']" value="0">不推荐</eq>
                                    <eq name="row['is_recommend']" value="1"><span style="color: red">推荐</span></eq>
                                </td>
                                <td class="single-edit" data-model="Academy" data-id="{$row['id']}" data-field="sort">{$row['sort']}</td>
                                <td>{$row['page_views']|}</td>
                                <td>{$row['create_time']|date="Y-m-d H:i",###}</td>
                                <td>{$row['status']|get_status_title}</td>
                                <td>
                                    <a href="{:U('Academy/update',array('id'=>$row['id']))}" title="编辑" class="tip-bottom">
                                        <span class="label label-success">编辑</span></a>&nbsp;
                                    <eq name="row['status']" value="0">
                                        <a href="{:U('Academy/resume',array('model'=>'Academy','ids'=>$row['id'],'status'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="tip-bottom ajax-get">
                                            <span class="label label-info">{$row['status']|show_status_name}</span></a>&nbsp;
                                        <else/>
                                        <a href="{:U('Academy/forbid',array('model'=>'Academy','ids'=>$row['id'],'status'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="tip-bottom ajax-get">
                                            <span class="label label-inverse">{$row['status']|show_status_name}</span></a>&nbsp;
                                    </eq>
                                    <a href="{:U('Academy/delete',array('model'=>'Headlines','ids'=>$row['id'],'status'=>1))}" title="删除" class="tip-bottom confirm ajax-get">
                                        <span class="label label-important">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
